<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style>
		*{
			padding:0;
			margin:0;
		}
		button{
			/*width:50px;
			height: 50px;
			text-align: center;*/
		}
	</style>
</head>
<body ng-app="myApp" >
<div id="box" ng-controller="cont">
	<button ng-click="toogle(true)">商品详情</button>
	<button ng-click="toogle(false)">用户评论</button>
	<div ng-show="showfirst">商品详情页</div>
	<div ng-hide="showfirst">用户评论页</div>
</div>
<script type="text/javascript" src="./code/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('cont',function($scope){
		$scope.showfirst = true;
		$scope.toogle = function(isshowfirst){
			$scope.showfirst = isshowfirst;
		}
	});
</script>
</body>
</html>